$white: #ffffff;
$black: #000000;

$focus: #00ccff;

$amber-50: #fef5e7;
$amber-100: #fdebd0;
$amber-200: #fad7a0;
$amber-300: #f8c471;
$amber-400: #f5b041;
$amber-500: #f39c12;
$amber-600: #d68910;
$amber-700: #b9770e;
$amber-800: #9c640c;
$amber-900: #7e5109;

$blue-50: #ebf5fb;
$blue-100: #d6eaf8;
$blue-200: #aed6f1;
$blue-300: #85c1e9;
$blue-400: #5dade2;
$blue-500: #3498db;
$blue-600: #2e86c1;
$blue-700: #2874a6;
$blue-800: #21618c;
$blue-900: #1b4f72;

$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;
