.view {
  padding-left: 1em;
  padding-right: 1em;
  border-color: var(--View_border-color);
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
